<h2>Our product</h2>
<p>A flagship product softInventory is an award-winning and easy to use ERP loved by industries.</p>
<h2>Serious about open source</h2>
<p>Our products and the web framework have a thriving open source community. </p><br/><br/><br/>
<div class="row">
	<div class="col-md-6">
		<h3>Write to us:</h3>
		<p>Have a question or comment? Write in us <a href="">abc@gmail.com</a>, we would love to hear from you. We’ll write back as soon as we can.</p>
	</div>
	<div class="col-md-6">
		<h3>Visit our office</h3>
		<p>A/123 XYZ Business Park, xyz - 9999999, India</p>
		<p>Skype: abc.xyz</p>
		<p>Twitter: <a href="">#cbx</a></p>
		<p>Phone: <strong>9999999999</strong></p>
	</div>
</div>
<br/><br/>