<div class="jumbotron">
  <h1>'Welcome !'</h1>
  <p class="lead">
    
    Track your inventory on the go.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/register">Go for it  <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>It makes your life simple</h4>
  <p>
    SoftInventory helps you take full control of your business.
    It is as powerful as it is easy to use.
  </p>

  <h4>Accounting, Inventory and Beyond</h4>
  <p>
    Our wide range of apps cover all the features you need to run a small or medium business. Plus they adjust to the way your business works.
  </p>

  <h4>Expert Support</h4>
  <p>Support tools are built into our cloud service, making it easy to find help instantly. Support can also be purchased for local installations.</p>
</div>
